/* BASE RESET */
body {
    box-sizing: border-box;
    font-family: 'Courier New', sans-serif;
    font-size: 18px;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

 .media li{
   display: inline-block;
   margin: 5px;
   list-style: none;
  }

  .media li a{
    color:white;
    text-decoration: none;
    font-size:60px;
    transition: all ease-in-out 250ms;
  }
  .media a:hover{
    color:rgb(214, 16, 16);
  }
  /* VERTICAL RHYTHM */
  * + * {
    margin-top: 1em;
  }
  
  section,
  footer {
    margin-top: 0;
    padding: 1rem; 
  }
  
  /* THEME STYLES */
  button {
    width: 100%;
    background:  lightgrey;
    border: 5px solid royalblue;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bolder;
    margin: 1rem 0;
  }
  
  button a {
    text-decoration: none;
    color: black;
  }
  button a:hover{
    color:rgb(214, 16, 16);
  }
  
  h1, 
  h2, 
  h3 {
    font-weight: bold;
    margin-left: auto;
    margin-right:auto;
  }
  
  h1 {
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;;

  }
  
  h2 {
    font-size: 40px;
    color: rgb(49, 144, 199) ;
    font-family: Arial, Helvetica, sans-serifl


  }
  
  h3 {
    font-size: 30px;
    color: rgb(74, 137, 124);
    font-family: Georgia, serif;
  }
  
  .material-icons {
    font-size: inherit;
  }

  p {
    font-size: 25px;
  }